redis:
  fullnameOverride: redis
  architecture: standalone
  auth:
    enabled: false
  master:
    resourcesPreset: "none"
    persistence:
      size: 5Gi
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
    prometheusRule:
      enabled: true
  sysctl:
    enabled: true
    mountHostSys: true
    command:
      - /bin/sh
      - -c
      - |-
        install_packages procps
        sysctl -w net.core.somaxconn=10000
        echo never > /host-sys/kernel/mm/transparent_hugepage/enabled
