commonExtraArgs: &extraArgs
  - -config.expand-env=true
commonExtraEnvFrom: &extraEnvFrom
  - secretRef:
      name: tempo-credentials

tempo-distributed:
  fullnameOverride: tempo
  reportingEnabled: false
  server:
    grpc_server_max_recv_msg_size: 100000000
    grpc_server_max_send_msg_size: 100000000
  compactor:
    extraArgs: *extraArgs
    extraEnvFrom: *extraEnvFrom
    config:
      compaction:
        block_retention: 336h
  ingester:
    extraArgs: *extraArgs
    extraEnvFrom: *extraEnvFrom
  querier:
    replicas: 1
    extraArgs: *extraArgs
    extraEnvFrom: *extraEnvFrom
    config:
      frontend_worker:
        grpc_client_config:
          max_send_msg_size: 100000000
  queryFrontend:
    extraArgs: *extraArgs
    extraEnvFrom: *extraEnvFrom
  traces:
    otlp:
      grpc:
        enabled: true
        receiverConfig: {}
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-bucket
        region: us-east-1
        endpoint: rook-ceph-rgw-ceph-objectstore.rook-ceph.svc:80
        access_key: ${TEMPO_S3_ACCESS_KEY}
        secret_key: ${TEMPO_S3_SECRET_KEY}
        forcepathstyle: true
        insecure: true
  metricsGenerator:
    enabled: true
    extraArgs: *extraArgs
    extraEnvFrom: *extraEnvFrom
    config:
      storage:
        remote_write:
          - url: http://prometheus-stack-prometheus.observability.svc.cluster.local:9090/api/v1/write
            send_exemplars: true
  global_overrides:
    defaults:
      metrics_generator:
        processors:
          - service-graphs
          - span-metrics
          - local-blocks # direct metrics from raw traces is computationally costly
        trace_id_label_name: traceID

# kubectl edit configmaps tempo-config
#query_frontend:
# metrics:
#   concurrent_jobs: 8
#   max_duration: 168h
#   target_bytes_per_job: 1250000000
